// Partials ============================================================
@import "reset";
@import "functions";
@import "extensions";

$tablet: 40em;
$desktop: 60em;
$sans-serif: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;

// Base ================================================================
:root {
	--transition: 0;
	--background: #fff;
	--color: #000;
	--shadow: 0 0.5em 1em rgba(0, 0, 0, 0.25);
	--radius : .25rem;

	@media (prefers-color-scheme: dark) {
		--background: #000;
		--color: #fff;
	}
}

.is-ready {
	--transition: 300ms;
}

body {
	font: 100%/1.5 $sans-serif;
	text-align: center;
	background-color: var(--background);
	color: var(--color);
	// transition: background-color var(--transition), color var(--transition);
}

.page {
	position: relative;
	width: 100%;
	overflow-x: hidden;

	@media (min-width: $desktop) {
		overflow: hidden;
	}
}

h1 {
	font-size: 1.2em;
	padding: 0 1.5rem;
	font-weight: 700;

	a {
		text-decoration: none;
	}
}

h2 {
	font-size: 0.75em;
	padding: 0 1.5rem;
	font-weight: normal;
}

h2,
p,
label {
	font-size: 0.75em;
}

h3 {
	font-size: 1em;
	font-weight: normal;
}

a {
	color: var(--color);

	&:hover {
		opacity: 0.5;
	}
}

path {
	stroke: currentColor;
	stroke-width: 1px;
	stroke-linecap: round;
	vector-effect: non-scaling-stroke;
	fill: none;
}

// Header ==============================================================
header {
	padding: 0.75em 0;
}

hgroup {
	margin: 0 auto;

	@media (min-width: $tablet) {
		text-align: left;
	}

	h2 {
		@media (min-width: $tablet) {
			position: absolute;
			vertical-align: middle;
			pointer-events: none;
		}
	}
}

// Main ================================================================
main {
	position: relative;
}

.main-carousel {
	.carousel-cell {
		width: 100%;
		padding: 6em 0 9em;

		@media (min-width: $tablet) {
			display: flex;
			align-items: center;
			justify-content: center;
			height: calc(100vh - 8.5em);
			padding: 0 0 9em;
		}
	}
}

.butt {
	font-size: 20vmin;
	line-height: 1;
	pointer-events: none;
	white-space: nowrap;
	transition: 
 		color calc(var(--transition)),
		opacity calc(var(--transition) * 2);

	.is-ready & {
		opacity: 0.1;
	}

	.is-selected & {
		opacity: 1;
		transform: scale(1);
	}

	&[style="font-family:Courier"] {
		letter-spacing: -0.15em;
	}
}

.secondary-carousel {
	line-height: 3em;
		border-bottom: 1px solid var(--color);

	.carousel-cell {
		padding: 0 1.5em;
		width: max-width;

		&:after {
			display: block;
			content: "";
			position: absolute;
			left: 50%;
			top: 0;
			bottom: 0;
			width: 1px;
			background: var(--color);
			transform: scaleY(0);
			transform-origin: center bottom;
			transition: transform var(--transition);

			@media (min-width: $tablet) {
				top: -25%;
			}
		}

		&.is-selected {
			&:after {
				transform: scaleY(1);
			}
		}

		&:hover:not(.is-selected) .carousel-cell-content {
			text-decoration: underline;
			cursor: pointer;
		}
	}

	.carousel-cell-content {
		display: inline-block;
		white-space: nowrap;
		padding: 0 1.5em;
		transition: transform calc(var(--transition) * 1.5);
	}

	.is-selected .carousel-cell-content {
		transform: scale(1.5) translateY(-75%);
	}
}

.previous,
.next {
	@extend %no-tap;
	touch-action: manipulation;
	display: inline-block;
	position: absolute;
	top: calc(50% - 3em);
	cursor: pointer;
	background: transparent;
	color: var(--color);
	border: 1px solid transparent;
	text-align: center;

	svg {
		width: 3em;
		height: 3em;
		vertical-align: top;
	}

	&:hover {
		background: var(--background);
		border-color: var(--color);
		box-shadow: var(--shadow);
	}

	&:active,
	&.is-active {
		svg {
			animation: pop var(--transition);
			background: var(--background);

			@keyframes pop {
				from {
					width: 4.5em;
				}
			}
		}
	}

	&:focus {
		outline: 0;
	}
}

.previous {
	left: .75em;
	transform-origin: left center;

	@media (min-width: $tablet) {
		left: 1.825em;
	}
}

.next {
	right: .75em;
	transform-origin: right center;

	@media (min-width: $tablet) {
		right: 1.825em;
	}
}

.helper {
	display: block;
	padding: 0 0 .25em;

	.no-help & {
		display: none;
	}
}

// Flickity ============================================================
.flickity-enabled {
	position: relative;
}

.flickity-enabled:focus {
	outline: none;
}

.flickity-viewport {
	position: relative;
	height: 100%;

	.main-carousel & {
		overflow: hidden;
	}
}

.flickity-slider {
	position: absolute;
	width: 100%;
	height: 100%;
}

.flickity-enabled.is-draggable {
	@extend %no-tap;
	@extend %no-select;
}

.flickity-enabled.is-draggable .flickity-viewport {
	cursor: move;
	cursor: -webkit-grab;
	cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}

// Social ==============================================================
.share {
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 1;
	padding: 1.5em 0;

	@media (min-width: $tablet) {
		position: absolute;
		top: 0.25em;
		right: 0;
		height: 3em;
	}
}

.share-button {
	display: flex;
	align-items: center;
	justify-content: center;
	vertical-align: top;
	min-width: 7em;
}

.twitter-button {
	padding: 0 0.375em 0 1.5em;
}

.facebook-button {
	padding: 0 1em 0 0.25em;
}

// Ad ==================================================================
.ad-wrapper {
	@extend %no-select;
	position: relative;
	margin: 2.25em auto 0;
	max-width: 22em;
	background-color: var(--background);
	z-index: 10;
	transform-origin: top left;

	@media (min-width: $desktop) {
		position: absolute;
		bottom: 6em;
		left: .75em;
	}
}

.ad {
	position: relative;
	border: 1px solid var(--color);
	min-height: calc(100px + 1.75em);
	margin: 0 .75em;
	padding-top: .75em;
	box-shadow: 
		var(--shadow);

	@media (min-width: $tablet) {
		width: 22em;
		padding: 0;
	}
}

#carbonads {
	text-align: left;

	* > span {
		position: relative;
		display: block;
		padding: 0.75rem 0.75em;
	}

	.carbon-wrap {
		display: flex;
	}
}

.carbon-img {
	position: relative;
	margin: 0 0.75em 0 0;
	line-height: 1;
	border-radius: var(--radius);
	overflow: hidden;
	min-width: 130px;
	height: 100px;

	img {
		vertical-align: top;
		background: rgba(0,0,0,.15);
	}

	&:after {
		@supports (mix-blend-mode: color) {
			display: block;
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			mix-blend-mode: color;
		}
	}
}

.carbon-text {
	color: var(--color);
	text-decoration: none;
	font-size: 0.75em;
	line-height: 1.3;
}

.carbon-poweredby {
	position: absolute;
	bottom: 0.75rem;
	right: .75rem;
	text-decoration: none;
	font-size: 0.65em;
	line-height: 1;
	color: var(--color);
}

.carbon-close {
	@extend %no-tap;
	display: block;
	position: absolute;
	z-index: 20;
	width: 3em;
	height: 3em;
	top: 0;
	right: 0;
	border: 0;
	border-radius: 50%;
	cursor: pointer;
	color: var(--color);
	transform: translate(-1.5em, -50%);
	box-shadow: var(--shadow);


	@media (min-width: $tablet) {
		width: 2.5em;
		height: 2.5em;
		transform: translate(2em, -50%);
	}

	svg {
		background: var(--background);
		border-radius: 50%;
		border: 1px solid;
	}

	&:hover {
		color: red;
	}

	&:focus {
		outline: 0;
	}

	&.is-hidden {
		transform: scale(0);
	}
}

.carbon-close:hover + .ad,
.is-hidden .ad {
	border-color: red;
	color: red;

	&,
	.carbon-text,
	.carbon-poweredby {
		color: red;
		text-decoration: line-through;
		transition-duration: 0s;
	}

	.carbon-img {
		opacity: 0.75;

		&:after {
			background: red;
		}
	}
}

// Footer ==============================================================
.copyright-wrapper {
	display: block;
	line-height: 1;
	padding: 0 .75em 1.5em;

	@media (min-width: $tablet) {
		padding: 1.5em .75em;
	}

	@media (min-width: $desktop) {
		line-height: 2em;
		text-align: right;
		padding: 0 .75em;
	}
}

.copyright {
	// padding: 0 0 0.75em;
}


// Fonts ===============================================================
@font-face { 
	font-family: "Comic Sans";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("fonts/comic-sans-ms.eot");
	src: url("fonts/comic-sans-ms.eot?#iefix") format("embedded-opentype"),
		url("fonts/comic-sans-ms.woff2") format("woff2"),
		url("fonts/comic-sans-ms.woff") format("woff"),
		url("fonts/comic-sans-ms.ttf") format("truetype"),
		url("fonts/comic-sans-ms.svg#Comic Sans MS") format("svg");
}
